In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [7]:
sales_train = pd.read_csv('Data/sales_train.csv', index_col='date')
sales_train.index = pd.to_datetime(sales_train.index, format="%d.%m.%Y")
sales_train.head()

            date_block_num  shop_id  item_id  item_price  item_cnt_day
date
2013-01-02               0       59    22154      999.00           1.0
2013-01-03               0       25     2552      899.00           1.0
2013-01-05               0       25     2552      899.00          -1.0
2013-01-06               0       25     2554     1709.05           1.0
2013-01-15               0       25     2555     1099.00           1.0

In [28]:
test = pd.read_csv('Data/test.csv')
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [8]:
sales_train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2935849 entries, 2013-01-02 to 2015-10-03
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   date_block_num  int64
 1   shop_id         int64
 2   item_id         int64
 3   item_price      float64
 4   item_cnt_day    float64
dtypes: float64(2), int64(3)
memory usage: 134.4 MB

In [9]:
sales_train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [29]:
X = sales_train.iloc[:,[1,2]] 
Y = sales_train.iloc[:,-1]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5)

            shop_id  item_id
date
2015-02-03       24     1556
2013-10-01       43    11966
2013-11-03       19     4228
2013-10-17       21    15135
2014-11-09        3    15268
...             ...      ...
2013-03-20       29    18472
2015-01-11       15     1515
2014-10-10       19    17042
2014-10-24       30    16138
2014-08-24       31     8657

[1467924 rows x 2 columns]

## Modelling

### Linear Regression

In [32]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

### RandomForestRegressor

In [36]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100)

### KNeighborsRegressor

In [45]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=10)

### XGBoost

In [57]:
import xgboost as xgb 
model = xgb.XGBRegressor(n_estimators=500)

### Prophet

In [50]:
from fbprophet import Prophet

### Modelling Fitting and SCoring

In [58]:
model.get_params

<bound method XGBModel.get_params of XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=500, n_jobs=None, num_parallel_tree=None,
             objective='reg:squarederror', random_state=None, reg_alpha=None,
             reg_lambda=None, scale_pos_weight=None, subsample=None,
             tree_method=None, validate_parameters=False, verbosity=None)>

In [59]:
model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster=None, colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints=None,
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints=None,
             n_estimators=500, n_jobs=0, num_parallel_tree=1,
             objective='reg:squarederror', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
             validate_parameters=False, verbosity=None)

In [60]:
model.score(X_train, y_train)

0.2213556952533078

In [61]:
model.score(X_test, y_test)

0.08179932748091168

## Hyper-parameter Tuning

#### Linear Regression

In [63]:
model = LinearRegression()
model.get_params

#### XGBoost

In [64]:
model = xgb.XGBRegressor()
model.get_params

<bound method XGBModel.get_params of XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             objective='reg:squarederror', random_state=None, reg_alpha=None,
             reg_lambda=None, scale_pos_weight=None, subsample=None,
             tree_method=None, validate_parameters=False, verbosity=None)>

In [81]:
model_params = pd.DataFrame()
model_params['n_estimators'] = np.linspace(100,500,5, dtype=int)
model_params['max_depth'] = np.linspace(6,10,5,dtype=int)
# model_params['reg_alpha'] = np.linspace(6,10,5,dtype=float)
model_params

   n_estimators  max_depth
0           100          6
1           200          7
2           300          8
3           400          9
4           500         10

In [91]:
import random
random.shuffle(model_params)
model_params

KeyError: 4

In [84]:
for idx in range(len(model_params)):
    model = xgb.XGBRegressor()
    n_est = model_params.iloc[idx,0]
    depth = model_params.iloc[idx,1]
    model.fit(X_train,y_train)

100
200
300
400
500